<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSourceCredentials>
		<VMob_x0020_MyGet>
			<add key="Username" value="build.server" />
			<add key="ClearTextPassword" value="Redgn0me" />
		</VMob_x0020_MyGet>
	</packageSourceCredentials>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="VMob MyGet" value="https://vmob.myget.org/F/vmob/api/v2/" />
  </packageSources>
</configuration>